* {
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  @media only screen and (max-width: 1024px) {
    font-size: 14px;
  }
}

body {
  position: relative;
  height: 100%;
  margin: 0;
  background-color: $main-bg !important;
}

.disable-scroll {
  overflow: hidden !important;
}

#black-overlay {
  height: 0px;
  width: 100%;
  background-color: #00000090;
  display: block;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s linear !important;
}

.active-overlay {
  opacity: 1 !important;
  transition: opacity 0.5s linear;
  height: 100% !important;
}

ul {
  margin: 0;
  padding: 0;
}

.extra-margin {
  margin-bottom: rem(50);
  @media only screen and (max-width: 991px) {
    margin-bottom: 0;
  }
}
