#reviews {
  margin-bottom: rem(180);
  @media only screen and (max-width: 610px) {
    margin-bottom: rem(100) !important;
  }
  .review {
    &_header {
      text-align: center;
      margin-bottom: rem(30);
    }
    &_sub {
      text-align: center;
    }
  }
  .stars {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: rem(40);
    ul {
      display: flex;
      list-style: none;
      li {
        &:not(:last-child) {
          margin-right: rem(26);
          @media only screen and (max-width: 610px) {
            margin-right: rem(13);
          }
        }
        i {
          font-size: 3rem;
          color: $title;
          @media only screen and (max-width: 610px) {
            font-size: 2.5rem;
          }

          @media only screen and (max-width: 280px) {
            font-size: 2rem;
          }
        }
      }
    }
  }
}
